@import url(http://fast.fonts.net/cssapi/0030664d-7879-4e99-a7d8-09ef12870e40.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro);

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #ccc;
  font-family: 'Century Schoolbook W01', serif;
  line-height: 1.4;
}

a {
  color: slateblue;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 150px auto 90px;
  border-top: 1px solid #888;
  position: relative;
  height: 1px;
}

hr::before {
  margin-left: -32px;
  position: absolute;
  top: -16px;
  left: 50%;
  width: 64px;
  line-height: 1;
  content: "*";
  color: #999;
  background-color: #ccc;
  font-size: 42px;
  text-align: center;
  font-family: Georgia, 'Times New Roman' serif;
	text-shadow: 0px 1px 0px #fff;
}

section {
  padding: 0 15px;
  margin: 20px auto;
  max-width: 1280px;
}

p, dl {
  font-size: 18px;
}

p, h2, h3 {
  clear: both;
  font-weight: 400;
}

header .forkme {
  position: absolute;
  right: 0;
}

h1 {
  margin: 0 0 80px 0;
  height: 390px;
  padding-top: 290px;
  font-size: 65px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  background: #c5c5c5 url(header.jpg) center top;
}

h2 {
  margin: 60px 0 40px 0;
  padding: 15px 2px;
  font-size: 26px;
  border-bottom: 1px dotted #999;
}

h3 {
  margin: 40px 0 15px 0;
  padding: 10px 2px;
  font-size: 22px;
}

h2, h3 {
  font-family: 'CenturySchlbkMTW01-Bold_706541', serif;
}

p.description {
  clear: none;
}

pre {
  font-size: 16px;
  border-left: 5px solid #c5c5c5;
  padding: 0 30px;
  margin: 15px 0 25px 0;
  line-height: 1.6;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: #555;
}

p code {
  font-size: 16px;
}

figure {
  margin: .5em 0 1.5em 0;
}

figure a {
  pointer-events: none;
  cursor: default;
  line-height: 0;
}

figure figcaption {
  margin-top: 8px;
  font-size: 16px;
  font-family: 'CenturySchlbkMTW01-Bold_706541', serif;
  text-align: center;
}

figure.full img {
  width: 1280px;
  height: 854px;
}

figure.detail {
  float: left;
  margin: 0 1em 2em 0;
}

figure.detail figcaption {
  width: 256px;
  -webkit-text-size-adjust: 100%;
}

figure.catalog {
  margin-right: 10px;
  width: 416px;
  float: left;
}

figure.catalog img {
  width: 416px;
  height: 416px;
}

figure.catalog figcaption {
  margin-top: 0;
  font-size: 12px;
  height: 3.5em;
  text-align: left;
}

dt {
  font-family: 'CenturySchlbkMTW01-Bold_706541', serif;
}

footer {
  margin: 20px auto;
  max-width: 1280px;
  padding: 0 0 50px 0;
}

footer h4 {
  font-family: 'CenturySchlbkMTW01-Bold_706541', serif;
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0 0;
}

footer p {
  font-family: 'CenturySchlbkMTW01-Ital', serif;
  font-size: 16px;
  margin: .5em 0;
}

footer .signature {
  font-size: 18px;
  font-family: 'Century Schoolbook W01', serif;
  margin: 80px 0 10px;
}

@media only screen and (max-width: 1308px) {
  section {
    padding: 0 0 0 5px;
    margin: 20px auto;
    width: 850px;
  }

  footer {
    max-width: 850px;
  }

  p, h2, h3, h4, dl {
    padding-left: 10px;
    padding-right: 10px;
  }

  figure.full {
  }

  figure.full img {
    position: relative;
    left: -215px;
  }

  figure.full a {
    pointer-events: auto;
    cursor: pointer;
    display: block;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 835px;
    border: 3px solid blue;
  }

  pre {
    overflow: scroll;
    border-left: 10px solid #ccc;
  }

  figure.catalog {
    margin-right: 6px;
  }

  hr {
    width: 98%;
  }
}
